<!-- add_user.html -->

{% extends 'ssltracker/base.html' %}

{% block content %}
  <h2>Add User</h2>
  

<form method="post" action="{% url 'register_user' %}">
  {% csrf_token %}
  <table border="0" cellpadding="5" cellspacing="0">
      {{ form.as_table }}
      <tr>
          <td>&nbsp;</td>
          <td><button type="submit" class="btn btn-primary">Add User</button></td>
      </tr>
  </table>
</form>


  {% if form.errors %}
    <p class="error">There was an error in the form. Please correct it.</p>
    {% endif %}

  {% endblock %}
