{% extends 'ssltracker/base.html' %}
{% block content %}


<form method="post">
  {% csrf_token %}
  
  <div class="form-group">
      <h2> SSLTracker Setting</h2>
      <p>&nbsp;</p>  
      <p>Make sure to include a <b>,</b> as a space value.</p> 
      <p><b>SSL PORTS</b> is used to tell which https port to check, for example some applications run on custom ports like 8443 or 8080.</p>
      <p><b>Expiry Date Check</b> is used to define which dates to send out reminders, for example 5,15,30 would be 5 days left, 15 days left, and 30 days left</p>

      <p>SSL Ports{{ form.ssl_ports }}</p>
      <p>Expiry Dates{{ form.expiry_date_check }}</p>
      <p>&nbsp;</p>

      <h2>Digi Cert API</h2>
      <p>&nbsp;</p>
      <p>Digi Cert API Key{{ form.digicert_api_key }}</p>
      <p>Digi Cert API URL{{ form.digicert_api_url }}</p>
      <p>Digi Cert Account ID{{ form.digicert_account_id }}</p>
      
      <p>&nbsp;</p>
      <h2>Microsoft Graph</h2>
      <p>&nbsp;</p>
      <p>MSGRAPH Client ID{{ form.msgraph_client_id }}</p>
      <p>MSGRAPH Client Secret{{ form.msgraph_client_secret }}</p>
      <p>MSGRAPH Client Tenant ID{{ form.msgraph_tenant_id }}</p>
      <p>MSGRAPH API URL{{ form.msgraph_api_url }}</p>
      <p>MSGRAPH API Version{{ form.msgraph_api_version }}</p>
  </div>

  <!-- Repeat the above block for other fields if needed -->

  <button type="submit" class="btn btn-primary">Save</button>
</form>


  {% endblock %}