{% extends 'ssltracker/base.html' %}

{% block content %}
  <h2>Change Password</h2>
  <p>&nbsp;</p>
  <form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <table border="0" cellpadding="5" cellspacing="0">
      <tr>
          <td>Current Password</td>
          <td>{{ form.old_password }}</td>
      </tr>
  
      <tr>
          <td>New Password</td>
          <td>{{ form.new_password1 }}</td>
      </tr>
  
      <tr>
          <td>Confirm Password</td>
          <td>{{ form.new_password2 }}</td>
      </tr>

     
  
      <tr>
          <td>&nbsp;</td>
          <td><button type="submit" class="btn btn-primary">Change password</button></td>
      </tr>
    
      {% if form.errors %}
      <tr>
          <td colspan="2">
              <div class="alert alert-danger">
                  <strong>Error(s):</strong>
                  <ul>
                      {% for error in form.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </div>
          </td>
      </tr>
      {% endif %}
      
    </table>
  </form>
{% endblock %}
